




.hero{
display:flex;
justify-content: space-between;
gap:5rem;
align-items: center;

}

.hero-left{
    width: 58%;
   display: flex;
   flex-direction: column;
   gap:2rem;
    
}

.cizgili-isim{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.cizgi{
    background: #4338CA;
    /* Default/indigo/800 */
    width: 8rem;
    height: 1px;
    margin-right: 10px;
    border: 1px solid #3730A3;   
}

.cizgi.night{
    background: #B7AAFF; 
    border: 1px solid #BAB2E7; 
}

.isim{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */


/* Default/indigo/700 */

color: #4338CA;
}
.isim.night{
    color: #B7AAFF;   
}


.anaBaslik{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 72px;
color: #1F2937;
}
.anaBaslik.night{
    color: #AEBCCF;
}
.info{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
width: 82%;
/* or 156% */


/* Default/gray/500 */

color: #6B7280;

    
}

.info.night{
    color: #FFFFFF;   
}

.hero-buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;  
}

.heroButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 10px;
    
    width: 131px;
    height: 52px;
    
    /* Default/indigo/800 */
    
    background: #fff;

    

    border-radius: 6px ;
    border-color: #3730A3;
    color: #3730A3; 


 
}    

.heroButton.night{
    background: #383838;  
    border: 1px solid #E1E1FF;

    color: #E1E1FF;}
.button-text-with-icon {
    display: contents;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
   
    width: 73px;
    height: 28px;
  }

  .button-text {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
   
    width: 73px;
    height: 28px;
  }


.social-icons{
    filter: invert(14%) sepia(98%) saturate(2589%) hue-rotate(240deg) brightness(94%) contrast(93%);
}

.social-icons.night{
    filter: invert(77%) sepia(11%) saturate(976%) hue-rotate(208deg) brightness(95%) contrast(90%);
}

.heroButton:hover {
    background: #3730A3;
    color: #fff;
    cursor: pointer;

}

.heroButton.night:hover {
    background: #E1E1FF;
    color: #000000;


}

img{
    width:1.4rem;
}

.pp {
    background-image: url("../../icons/pp2.jpg"); /* Path to your image */
    background-size: cover; /* Adjusts the size of the background image */
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    border-radius: 18px;
    background-color: #1F2937;
    background-position: center;
    width: 45%;
    height: 24em

}


@media (max-width: 1024px) {
    .hero {
      flex-direction: column;
      
    }
    .info{
  
    width: 100%;
    /* or 156% */
    
    
    /* Default/gray/500 */
    
    color: #6B7280;
    
        
    }

    .pp{width: 100%;}
    .hero-left{
        width: 100%;
        text-align: center;
       
        
    }
    .hero-buttons{
       
        justify-content: center;
        
    }
   
  }

  @media (max-width: 500px) {
.anaBaslik{
    font-size: 3rem;
}


.hero-buttons{
       
flex-direction: column;   
align-items:center;
}

.pp{
    width: 80%;
    height: 10rem;
}
  }


