.darkModeContainer{
display: flex;
align-items: center;
gap: 11px;
}

.darkModeText{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  
  color: #777777;
  
}


.darkModeText:hover{
  cursor:pointer
  
}