.profileContainer{
display: flex;
flex-direction: column;
gap:2rem
}

.ana-baslik{
/* text-5xl/leading-none/font-semibold */

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 48px;
/* identical to box height, or 100% */


color: #1F2937;
}

.ana-baslik.night{
    color: #AEBCCF; 
}

.subBasliklar{
display: flex;
gap: 7rem;

}
.profile-area{
flex:41%;
}
.about-area{
flex:57%
}
.profile-baslik{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 28px;

/* identical to box height, or 93% */


/* Default/indigo/700 */

color: #4338CA;
}



.profile-item{
    display: flex;
  flex-direction: row;
  margin-bottom: 1rem;

    line-height: normal;
}

.mappedData{
display: flex;
gap:3rem;
margin-top:1rem;
flex-wrap: wrap; /* Allow items to wrap to the next line */

}





.profile-label{
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 200%;
   
    
    letter-spacing: 0.01em;
        
    color: #000000;
    width: 8rem;
    min-width: 8rem;
}

.profile-value{
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    /* or 36px */
    margin-left: 7rem;
    
    letter-spacing: 0.01em;
    
    color: #000000;
    word-wrap: break-word; /* Allow long words to break and wrap to the next line */
  overflow-wrap: break-word;
   
    
}

.profile-value.night,.profile-label.night {
    color: #FFFFFF;
}

.about-me-baslik{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 28px;
    /* identical to box height, or 93% */
    
    
    /* Default/indigo/700 */
    
    color: #4338CA;
}
.about-me-baslik.night,.profile-baslik.night{
    color: #B7AAFF;
}

.about-me{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-top: 1rem;
    width: 80%;
    /* or 27px */
    
    
    /* Default/gray/500 */
    
    color: #6B7280;
}

.about-me.night{
    color: #FFFFFF; 
}


@media (max-width: 1000px) {
    .profileContainer{
        align-items: center;
        }

        .subBasliklar{
            flex-direction: column;
            width: 100%;
          
     
          
        }
    
        .about-area{
           display: flex;
           flex-direction: column;
           align-items: center;
        }

        .about-me{
            text-align: center;
        }
    
}

@media (max-width: 500px) {
    .profile-value {
      margin-left: 2rem;
  }

  .profile-area{
display: flex;
flex-direction: column;
    

  }

  .profile-baslik{
    text-align: center;
  }

  
  }

