@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */

.App {
  display: flex;
  flex-direction: column;
  
  height: auto;
  background: #FFFFFF;
}

.App.night {
 
  background: #252128;
}

.modeSwitch{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 14px;
  justify-content: flex-end;
}
.modeSwitchLine{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  
  color: #777777;
}

.footer-haric {
  margin: 0 20%; 
}

.horizontal-line{
  border: 1px solid #BAB2E7;
  width: 100%;
  margin: 3rem 0;
}


@media (max-width: 768px) {
  .App {
    max-width: 600px; /* Adjust this value based on your needs */
    width: 100%;
    padding: 0 20px; /* Add some padding to the sides */
  }
}



